body {
    background: -prefix-linear-gradient(left top);
    background: linear-gradient(to bottom right);
  }

  p {
    border: 10px solid black;
    padding: 30px;
    font-size: 23px;
    border-bottom: 5px;
    color: black;
    background-color: #fae6fa;
    display: flex;
    align-items: center;
    justify-content: normal;
    margin: 60px;
  }
